vti_encoding:SR|utf8-nl
vti_author:SR|WROX_UK\\jonh
vti_modifiedby:SR|WROX_UK\\jonh
vti_timecreated:TR|29 Nov 2002 15:19:47 -0000
vti_timelastmodified:TR|29 Nov 2002 15:19:47 -0000
vti_cacheddtm:TX|29 Nov 2002 15:19:47 -0000
vti_filesize:IR|3124
vti_extenderversion:SR|4.0.2.6513
vti_backlinkinfo:VX|
